.footer {
  background-color: var(--chakra-colors-gray-700);
  color: white;
  margin-top: 4rem;

  .container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    h4 {
      font-size: 2rem;
    }

    .info {
      font-size: 0.8rem;
    }

    div {
      button {
        background-color: var(--chakra-colors-gray-750);
        transition: all 0.1s ease-in;

        &:hover {
          filter: brightness(0.8);
        }
        &:first-child {
          margin-right: 0.5rem;
        }
      }
    }

    .socialMedia {
      span {
        font-size: 0.8rem;
        display: block;
        margin-bottom: 1rem;
      }

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
