.swiper {
  height: 100%;

  border-top: 4px solid var(--chakra-colors-red-800);

  p {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 999;
    text-align: left;
    font-weight: 700;
  }
}
